BasedOnStyle: InheritParentConfig

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<[[:alnum:].]+>'
    Priority: 1
  - Regex:    '^"pg/arch/'
    Priority: 2
  - Regex:    '^"pg/'
    Priority: 3
  - Regex:    '^"vmapi/'
    Priority: 4
  - Regex:    '.*'
    Priority: 5
