[submodule "prebuilts"]
	path = prebuilts
	url = https://github.com/SANCTUARY-Systems/Peregrine-Prebuilts.git
	shallow = true
[submodule "third_party/dtc"]
	path = third_party/dtc
	url = https://git.trustedfirmware.org/hafnium/third_party/dtc
	shallow = true
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://git.trustedfirmware.org/hafnium/third_party/googletest
	shallow = true
[submodule "third_party/linux"]
	path = third_party/linux
	url = https://git.trustedfirmware.org/hafnium/third_party/linux
	shallow = true
[submodule "project"]
	path = project
	url = https://github.com/SANCTUARY-Systems/Peregrine-Projects.git
